/************************************************************
				Clearfix
************************************************************/
.wpamc-row-clearfix:before, .wpamc-row-clearfix:after{content: "";display: table;}
.wpamc-row-clearfix::after{clear: both;}
.wpamc-row-clearfix{clear: both;}
.wpamc-carousel-wrap img{box-shadow:none !important; border-radius:px !important}
.wpamc-carousel-wrap .player-overlay img{max-width:none !important; width:auto !important;}
.wpamc-carousel-wrap{position:relative}
.wpamc-carousel-wrap .amc-slide{padding:75px 0;}
.wpamc-carousel-wrap .amc-slide img{opacity:0.5}
.wpamc-carousel-wrap .amc-slide.swiper-slide-active img{opacity:1}
.wpamc-carousel-wrap .player-overlay{position:absolute; z-index:9; left:50%; top:0; transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);}
.wpamc-carousel-conf{display: none;}
.wpamc-carousel-wrap .swiper-pagination { bottom: 2px; }
